

@model IEnumerable<Venue>

<h2>Venues</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
    </tr>
    @foreach (var venue in Model)
    {
        <tr>
            <td>@venue.VenueName</td>
            <td>@venue.Location</td>
            <td>@venue.Capacity</td>
        </tr>
    }
</table>

